body {
    background: #00000000;
    /* background: grey; */
}

.box {
    padding: 1em;
    color: white;
    font-family: "Sen";
    font-size: 1em;
    font-weight: bold;
    background: #18181B;
    border-radius: 0.2em;
    box-shadow: 0 2px 8px black;
    width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 500ms;
}

.hidden {
    opacity: 0;
}

#votetitle {
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#votetimer {
    width: 100%;
    height: 20%;

    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.timerbar-bg {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    height: 8px;
    border-radius: 0.3em;
    display: block;
    background: grey;
}

#timernumber {
    margin-left: 5px;
}

#timerbar-fg {
    height: 100%;
    border-radius: 0.2em;
    background-color: #9147FF;
}

#votelist {
    width: inherit;
    list-style: none;
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
    overflow: hidden;
}

.votebar-bg {
    border-radius: 0.2em;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    background: #242427;
}

.votebar-fg {
    border-radius: 0.2em;
    height: 100%;
    background: #3A3A3D;
    transition: width 500ms;
}

.top-vote .votebar-fg {
    background-color: #00DB84;
}

.top-vote .votebar-bg {
    background-color: #00F593;
}

.top-vote .vote-text {
    color: black;
}

.votelist-item {
    width: inherit;
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 40px;
    transition: margin 500ms;
}

.vote-text {
    position: absolute;
    width: 95%;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;

}

.vote-info {
    margin-left: auto;
    font-weight: normal;
}