<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>

    <script src="static/index.js"></script>
    <link rel="stylesheet" href="static/index.css">

    <script>
        let inactive_count = {{ inactive_count }}
    </script>
</head>

<body>
    <div class="votebox box">
        <div id="votetitle">No polls running</div>
        <ul id="votelist">
        </ul>
        <div id="votetimer">
            <div id="timernumber">
                60
            </div>
            <div class="timerbar-bg">
                <div id="timerbar-fg"></div>
            </div>
        </div>
</body>

</html>